<div class="container">
  <div class="welcome">
    <div class="row">
      <div class="col-4 flex gap">
        <div class="photo">
          <img src="assets/photo0.png" alt="" width="100%" height="100%" />
        </div>
        <div class="photo1">
          <img src="assets/photo1.png" alt="" width="100%" height="100%" />
        </div>
      </div>
      <div class="col-4">
        <p class="textWelcome">Welcome to</p>
      </div>
      <div class="col-4 gap flex">
        <div class="photo2">
          <img src="assets/photo2.png" alt="" width="100%" height="100%" />
        </div>
        <div class="photo3">
          <img src="assets/photo3.png" alt="" width="100%" height="100%" />
        </div>
      </div>
    </div>
  </div>
</div>
